.section-title {
  text-align: center;
  font-size: 50px;
}

.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}
.menu #menu-flters li a{
  text-decoration: none;
  color: black;
}
.menu #menu-flters li {
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  border-radius: 50px;
  font-family: "Playfair Display", serif;
}

.menu #menu-flters li:last-child {
  margin-right: 0;
}
.categoriesMenu{
  margin-top:50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  border-radius: 50px;
  font-family: "Playfair Display", serif;

}

.menu .menu-item {
  margin-top: 20px;
  list-style-type: none;

 
}

.menu .menu-img {
  margin-left: 20px;
  margin-right: 20px;
  width: 70px;
  border-radius: 50%;
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.2);
  
}

.menu .menu-content {
  margin-left: 85px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #000000;
  transition: 0.3s;
}

.menu .menu-content span {
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
  color: #000000;
}
.menu .menu-content span .cart-btn{
  padding: 10px 10px;
  border: 0;
  border-radius: 4px;
  background-color: #212121;
  color: #efefef;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  position: relative;
  margin-left: 16px;
  margin-right: 2px ;
}

.menu .menu-ingredients {
  margin-left: 85px;
  font-style: italic;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}







#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    border-radius: 8px;
    margin-left: -20px; 
    
    
    
    
}

.nav {
  overflow: hidden;
  background-color: #939596;
}

.nav .login-container {
  float: right;
}
.nav input[type=text],
.nav input[type=password] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 120px;
}
.nav .login-container button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #1c87c9;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.nav .login-container button a {
  
  text-decoration: none;
  background-color: #1c87c9;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .login-container button:hover {
  background-color: #0e002b;
}
@media screen and (max-width: 600px) {
  .nav .login-container {
    float: none;
  }
  .nav a,
  .topnav input[type=text],
  .nav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav input[type=text] {
    border: 1px solid #ccc;
  }
}

.topnav {
 
  
  margin:0;
}

/* Style the links inside the navigation bar */
.topnav a {
 
  color:#ccc;
  padding: 14px 8px;
  
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */


